<% include ./partials/head %>
<body>
    <header>
        <div class="container">
            <div class="f-con">
                <div class="left">
                <img src="imgs/apple.jpg" class="logo" alt="">
                <span class="logo-text">GreenApple Inc.</span>
            </div>
            <div class="right">
                <a href="/logout">Logout</a>
            </div>
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class="card-wrap">
            <h1>Welcome, <></h1>
        </div>
        
    </div>
    
<% include ./partials/footer %>